# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.swiftpm/
.build/

# CocoaPods (if you add pods later)
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Secrets (local only, not committed)
App/Support/Configs/Secrets.xcconfig
